.buying-fluid{
	padding-left: 70px;
	color: black;
}
.buying-card-id{
	margin-left: 10px;
	margin-top: 10px;
}
.buying-cards{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.b-p-h{
	color: black;
}